dhcpd:
    listen_interfaces:
        - em1
        - em2

    authoritative: True
    ping_check: True
    one_lease_per_client: True
    omapi_port: 7911
    omapi_key: omapi_key
    default_lease_time: 600
    max_lease_time: 7200
    log_facility: local7

    options:
        domain_name: example.org
        domain_name_servers:
            - ns1.example.org
            - ns2.example.org
        ip-forwarding: false
        non-local-source-routing: true

    failover_peers:
        dhcp-failover:
            role: primary
            address: 10.152.187.5
            port: 647
            peer_address: 10.152.187.6
            peer_port: 647
            mclt: 3600
            split: 128

    custom_options:
        auto_proxy_config:
            code: 252
            type: string 

    option_spaces:
        PXE:
            mtftp_ip:
                code: 1
                type: ip-address
            mtftp_cport:
                code: 2
                type: unsigned integer 16
            mtftp_sport:
                code: 3
                type: unsigned integer 16
            mtftp_tmout:
                code: 4
                type: unsigned integer 8
            mtftp_delay:
                code: 5
                type: unsigned integer 8
            discovery_control_code:
                code: 6
                type: unsigned integer 8
            discovery_mcast_addr:
                code: 7
                type: ip-address
        pxelinux:
            magic:
                code: 208
                type: string
            configfile:
                code: 209
                type: text
            pathprefix:
                code: 210
                type: text
            reboottime:
                code: 211
                type: unsigned integer 32

    site_option_space: pxelinux

    options:
      pxelinux.configfile: config/common
      pxelinux.pathprefix: /pxelinux/fils/
      pxelinux.magic: f1:00:74:7e
      pxelinux.reboottime: 30
    filename: /pxelinux/pxelinux.bin


    classes:
        Etherboot:
            comment: Etherboot class, this is a comment
            match: if substring (option vendor-class-identifier, 0, 9) = "Etherboot"
            filename: /etherboot/nbgrub
            options:
                vendor-encapsulated-options: 3c:09:45:74:68:65:72:62:6f:6f:74:ff
                vendor-class-identifier: Etherboot
                PXE.mtftp-ip: 0.0.0.0
            vendor-option-space: PXE
            next-server: 192.168.0.1

    shared_networks:
        mynetwork:
            comment: This is mynetwork, there are many networks like it but this one is mine
            subnets:
                192.168.0.0:
                    comment: this is my subnet, with numbers and all
                    netmask: 255.255.255.0
                    options:
                        subnet-mask: 255.255.255.0
                        routers: 192.168.0.1
                        domain-name-servers:
                            - 192.168.0.11
                            - 192.168.0.12
                    default-lease-time: 28800
                    max-lease-time: 86400
                    next-server: 192.168.0.1
                    pools:
                        - range:
                            - 192.168.0.10
                            - 192.168.0.99
                          failover_peer: some_failover
                          deny:
                            - members of "Etherboot"
                        - range:
                            - 192.168.0.200
                            - 192.168.0.254
                          failover_peer: some_failover

    subnets:
        10.152.187.0:
            comment: |
                No service will be given on this subnet, but declaring it helps the
                DHCP server to understand the network topology.
            netmask: 255.255.255.0
            pools:
                - failover_peer: dhcp-failover
                  range:
                      - 10.152.187.1
                      - 10.152.187.254

        10.254.239.32:
            comment: |
                This declaration allows BOOTP clients to get dynamic addresses,
                which we don't really recommend.
            netmask: 255.255.255.224
            dynamic_bootp: True
            range:
                - 10.254.239.40
                - 10.254.239.60
            options:
                broadcast_address: 10.254.239.31
                routers: rtr-239-32-1.example.org
                default_lease_time: 600
                max_lease_time: 7200
                domain_name_servers:
                    - ns1.internal.example.org
                    - ns2.internal.example.org
                domain_name: internal.example.org
            ddns-domainname: "clients.example.com"
            ddns-rev-domainname: "122.155.10.in-addr.arpa"

    hosts:
        passacaglia:
            comment: |
                Hosts which require special configuration options can be listed in
                host statements.   If no address is specified, the address will be
                allocated dynamically (if possible), but the host-specific information
                will still come from the host declaration.
            # We're lucky we don't need the MAC as a key...
            hardware: ethernet 0:0:c0:5d:bd:95
            filename: vmunix.passacaglia
            server_name: toccata.fugue.com

        fantasia:
            comment: |
                Fixed IP addresses can also be specified for hosts.   These addresses
                should not also be listed as being available for dynamic assignment.
                Hosts for which fixed IP addresses have been specified can boot using
                BOOTP or DHCP.   Hosts for which no fixed address is specified can only
                be booted with DHCP, unless there is an address range on the subnet
                to which a BOOTP client is connected which has the dynamic-bootp flag
                set.
            hardware: ethernet 08:00:07:26:c0:a5
            fixed_address: fantasia.fugue.com

    groups:
        cobalt_arm:
            next_server: 10.155.122.6
            filename: "default.colo"
            options:
                root_path: "/nfsroot"
                domain_name_servers: 10.155.122.4
            hosts:
                qube1:
                    hardware: ethernet 00:22:33:44:55:96
                    fixed_address: qube1.example.com
                raq2:
                    hardware: ethernet 00:22:33:44:55:56
                    fixed_address: raq2.example.com


    # keys and key are reserved, needed to prefix it with something
    _keys:
      rndc-key:
        algorithm: hmac-md5
        secret: 93jfwjgpsdgskgnlsxvffw==
      omapi_key:
        algorithm: hmac-md5
        secret: 93fw9p4h03qrp9h8gosg9w==

    zones:
      199.188.10.in-addr.arpa.:
        primary: 10.155.123.4
        key: rndc-key
      clients.example.com.:
        primary: 10.155.123.4
        key: rndc-key
      122.155.10.in-addr.arpa.:
        primary: 10.155.123.4
        key: rndc-key

