{%- if 'comment' in config %}
  {%- for line in config.comment.splitlines() %}
{{ indentation }}# {{ line }}
  {%- endfor %}
{%- endif %}
{{ indentation }}host {{ host }} {
  {%- if 'allow' in config %}
    {%- if config.allow is iterable and config.allow is not string %}
      {%- for item in config.allow %}
{{ indentation }}  allow {{ item }};
      {%- endfor %}
    {%- else %}
{{ indentation }}  allow {{ config.allow }};
    {%- endif %}
  {%- endif %}
  {%- if 'deny' in config %}
    {%- if config.deny is iterable and config.deny is not string %}
      {%- for item in config.deny %}
{{ indentation }}  deny {{ item }};
      {%- endfor %}
    {%- else %}
{{ indentation }}  deny {{ config.deny }};
    {%- endif %}
  {%- endif %}
  {%- if 'hardware' in config %}
{{ indentation }}  hardware {{ config.hardware }};
  {%- endif %}
  {%- if 'fixed_address' in config %}
{{ indentation }}  fixed-address {{ config.fixed_address }};
  {%- endif %}
  {%- if 'filename' in config %}
{{ indentation }}  filename "{{ config.filename }}";
  {%- endif %}
  {%- if 'next_server' in config %}
{{ indentation }}  next-server {{ config.next_server }};
  {%- endif %}
  {%- if 'server_name' in config %}
{{ indentation }}  server-name "{{ config.server_name }}";
  {%- endif %}
  {%- if 'host_name' in config %}
{{ indentation }}  option host-name "{{ config.host_name }}";
  {%- endif %}
  {%- for option in customized.keys() %}
    {%- if option in config %}
     {%- if customized[option]['type'] in types_to_quote %} {% set quote = dquote %} {%- endif %}
{{ indentation }}  option {{ option|replace('_', '-') }} {{ quote }}{{ config.get(option) }}{{ quote }};
    {%- endif %}
  {%- endfor %}
}
