{% import_yaml "dhcpd/defaults.yaml" as defaults %}
{% import_yaml "dhcpd/osfamilymap.yaml" as osfamilymap %}
{% import_yaml "dhcpd/osmap.yaml" as osmap %}

{% set dhcpd = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
           osfamilymap,
           grain='os_family',
           merge=salt['grains.filter_by'](
                 osmap,
                 grain='os',
                 merge=salt['pillar.get']('dhcpd:lookup', {}),
         ),
   ),
   base='dhcpd')
 %}

{% if false %}
{% set dhcpd = salt['grains.filter_by']({
    'Arch': {
        'server': 'dhcp',
        'service': 'dhcpd4',
        'config': '/etc/dhcpd.conf',
    },
    'Debian': {
        'server': 'isc-dhcp-server',
        'service': 'isc-dhcp-server',
        'config': '/etc/dhcp/dhcpd.conf',
        'service_config': '/etc/default/isc-dhcp-server',
    },
    'RedHat': {
        'server': 'dhcp',
        'service': 'dhcpd',
        'config': '/etc/dhcp/dhcpd.conf',
    },
    'FreeBSD': {
        'server': 'isc-dhcp43-server',
        'service': 'isc-dhcpd',
        'config': '/usr/local/etc/dhcpd.conf',
        'service_config': '/etc/rc.conf.d/dhcpd',
    },
    'Suse': {
        'server': 'dhcp-server',
        'service': 'dhcpd',
        'config': '/etc/dhcpd.conf',
    },
}, merge=salt['pillar.get']('dhcpd:lookup')) %}
{% endif %}
